{# ----------------------------------------------------------------- #}
{# -- Base layout template that all requests inherit from -- #}
{# ----------------------------------------------------------------- #}

<!doctype html>
<html {{ site.language_attributes }} class="no-js is-loading" data-page="{{ post.slug }}">

{# -- HTML Head -- #}
{# ----------------------------------------------------------------- #}
<head>
    {% include '_base/html/partials/head.twig' %}

    {% block head %}
    {% endblock %}
</head>

{# -- HTML Body -- #}
{# ----------------------------------------------------------------- #}
<body class="t-{{ bodyClass ?? post.category.slug ?? post.type.slug ?? 'default' }}{% if post.category %}{% endif %} -is-{{ post.slug }} -id-{{ post.id }}" data-module-load>
    {# {{ function('wp_body_open') }} #}

    {# Set "loading" screen #}
    {% include '_components/loader.twig' only %}

    {# Container to be swapped in and out #}
    <div data-load-container>

    {# Container for scrolling events #}
    <div class="o-scroll" data-module-scroll="main" data-scroll-container>

        <div class="o-container">
            <a class="skip-link u-screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

            {# Site Header & Navigation #}
            {% include '_objects/header.twig' %}

            {# Page Content #}
            <main id="content" class="o-main">
                {% block content %}
                    Sorry, no content
                {% endblock %}

                {# Bottom-of-the-page CTA #}
                {% set callToAction = Post(post.cta_embed) %}
                {% if callToAction is defined and callToAction[0] is not empty and callToAction.title != 'Auto Draft' %}
                    <section class="o-section -is-cta">
                        {% include '_components/call-to-action.twig' with {
                            params: {
                                headline: callToAction[0].post_title,
                                body: callToAction[0].post_content,
                                image: callToAction[0].cta_background,
                                url: callToAction[0].cta_link,
                            }
                        } only %}
                    </section>
                {% endif %}
            </main>

            {# Site Footer #}
            {% include '_objects/footer.twig' %}

            {# Site Overlae #}
            <div class="o-container__overlay js-nav-overlay -not-active"></div>

        </div>
    </div>
    </div>

    <script src="{{ site.theme.link }}/js/app.js" defer></script>

</body>

</html>
