{# -- Component Variables -- #}

{% set module   = params %}
{% set eyebrow  = module.eyebrow %}
{% set headline = module.heading %}
{% set body     = module.body %}
{% set link_1   = module.link_1 %}
{% set link_2   = module.link_2 %}
{% set media    = Image(module.media) %}

{# -- Component Template -- #}

{% if module is defined and module is not empty %}

    <div class="c-module--text-media">
        <div class="c-feature">

            <figure class="c-feature__media">
                <img src="{{ media.src('medium') }}" alt="{{ media.alt }}" class="c-image" />
                <figcaption class="c-feature__caption">
                    {% if media.caption is defined and media.caption is not empty %}
                        {{ media.caption }}
                    {% endif %}
                </figcaption>
            </figure>

            <div class="c-feature__text">
                {% if eyebrow is defined and eyebrow is not empty %}
                    <strong class="c-eyebrow">{{ eyebrow }}</strong>
                {% endif %}
                <h2 class="c-headline">{{ headline }}</h2>
                {% if body is defined and body is not empty %}
                    <div class="c-redactor">
                        {{ body }}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endif %}
