{# -- Component Variables -- #}

{% set logo        = Image(post.intro_logo) %}
{% set grantYears  = post.intro_grant_years|split(',') %}
{% set givingArea  = post.intro_key_giving_area %}
{% set foundations = post.intro_devos_family_foundations %}

{# -- Component Template -- #}

{% if logo or grantYears or givingArea or foundations %}
    <figure class="c-quick-look">

        {% if logo is defined and logo is not empty %}
            <div class="c-quick-look__logo">
                <img src="{{ logo.src('large') }}" alt="{{ logo.alt }}" class="c-image" />
            </div>
        {% endif %}

        {% if grantYears is defined and grantYears is not empty %}
            <ul class="c-quick-look__grants">
                <li>Grant Year{% if grantYears|length > 1 %}s{% endif %}</li>
                {% for year in grantYears %}
                    <li>{{ year }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if givingArea is defined and givingArea is not empty %}
            <div class="c-quick-look__giving">
                <strong>Key Giving Area</strong>
                {# <pre>
                    {{ dump(givingArea) }}
                </pre>
                <a href="javascript:;" class="c-link">{{ givingArea.label }}</a> #}
                <a href="javascript:;" class="c-link">Education</a>
            </div>
        {% endif %}

        {% if givingArea is defined and givingArea is not empty %}
            <div class="c-quick-look__foundations">
                <strong>DeVos Family Foundation</strong>
                <p>Dick and Betsy DeVos Family Foundation, Daniel & Pamella DeVos Foundations, CDV5 Foundation, Doug & Maria DeVos Foundation</p>
            </div>
        {% endif %}

    </figure>
{% endif %}
