{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% set photoGallery = post.photos %}

{% block content %}

    {% if photoGallery is defined and photoGallery is not empty %}
        <section class="o-section -is-gallery">

            <h1 class="u-text-h1">{{ post.title }}</h1>

            <ul class="c-photo-gallery">
                {% for photo in photoGallery %}
                    <li class="c-photo-gallery__photo">
                        {% include '_elements/picture.twig' with {
                            params: {
                                src: Image(photo),
                                ratio: '1:1',
                            }
                        } only %}
                        <h3>{{photo.title}}</h3>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section class="o-section -is-content">
        <article class="c-wysiwyg">

            {# <h1 class="u-text-h1">{{ post.title }}</h1> #}

            {{ post.content }}

        </article>
    </section>

    <section class="o-section -is-map">
        <figure class="c-map" data-zoom="16" height="400px" data-module-google-map>
            <div class="c-map__marker" data-lat="{{ post.location['lat'] }}" data-lng="{{ post.location['lng'] }}"></div>
        </figure>
    </section>

{% endblock %}
